* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(248, 247, 247);
}

main {
  width: 98%;
  margin: 10px auto 1px auto;
}

.margin {
  margin: 0 auto;
}

.tomato {
  color: tomato;
}

.second-nav {
  background-color: white;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.nav-icons {
  font-size: 21px;
  width: 70px;
  padding: 5px 5px;
  margin: auto 0;
}

.stories-item {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url(images/top-stories.png);
  height: 150px;
  color: rgb(252, 249, 249);
  margin-bottom: 10px;
}

.top-stories h2 {
  top: 90px;
  left: 10px;
}

.main-body  {
  width: 96%;
}

.latest-news h2 {
  margin: 20px 0;
}

.latest-news .top {
  float: right;
  margin-top: -40px;
  color: tomato;
}

.news-item {
  width: 500px;
  margin-bottom: 15px;
}

.sub-text small{
  color: #c5c5c5;
}

.sub-text-1 {
  width: 100%;
  padding-left: 15px;
}

.sub-text-1 s {
  color: #c5c5c5;
  margin-right: 10px;
}

.funding h2 {
  margin: 30px 1px 15px;
}

.funding-items div {
  margin-bottom: 6px;
}

.price-header {
  background-color: rgb(255, 74, 42);
  color: white;
  height: 45px;
}

.price {
  height: 60px;
  background-color: rgb(255, 199, 189);
}

.price-footer {
  background-color: rgb(253, 220, 214);
  height: 80px;
  padding: 12px;
}

.footer-1 {
  height: 60px;
  background-color: rgb(253, 220, 215);
  border-top: 1px solid tomato;
  padding: 12px;
}

.index-price {
  margin-bottom: 20px;
}

.index-price img {
  left: 15px;
  top: 15px;
}

.text {
  padding: 10px 1px 1px 80px;
}

.hard-fork {
  margin-bottom: 20px;
}

.hard-fork h2 {
  margin: 30px 1px 15px;
}

.hard-fork ul {
  margin-left: 20px;
}

.fork-details {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 245, 0) 100%), url(images/hard-fork.png);
  height: 500px;
}

.fork-details h2 {
  color: white;
  top: 400px;
  left: 10px;
}

.fork-latest {
  background-color: rgb(255, 207, 198);
  margin-top: 3px;
}

.fork-latest img {
  width: 80px;
  height: 80px;
}

.hard-fork ul {
  width: 96%;
}

.hard-fork li {
  padding: 7px 0;
  color: tomato;
  border-bottom: 1px solid #bbb;
}

.hard-fork li a {
  color: #5e5e5e;
}